<%- include("header") -%>

  <div class="box" id="heading">
    <h1> <%= listTitle %> </h1>
  </div>

  <div class="box">
    <form action="/home/delete" method="post" >
        <% newListItems.forEach(element=>{%>
          <div class="item">
            <input type="checkbox" onchange="this.form.submit()" name="removeItem" value="<%=element._id %>">
            <p><%=  element.name  %></p>
          </div>
          <input type="hidden" name="listName" id="" value="<%= listTitle %>"></input>
          <% }) %>
      </form>
      <form class="item" action="/home" method="post">
        <input type="text" name="newItem" placeholder="New Item" autocomplete="off">
        <button type="submit" name="list" value="<%= listTitle %>">+</button>
      </form>
  </div>

<%- include("footer") -%>
